# python
*.pyc
*__pycache__
.pytest_cache
venv
# environment
.env
.env-example
.env.testing
# npm
node_modules
package-lock.json

.vscode
**/*.DS_Store

# compiled assets
storage/compiled

masonite_notes.txt
